
.friendCard {
  display: flex;
  margin: 0 auto;
  height: 100px;
  width: 400px;
  margin-top: 10px;
  background-color:whitesmoke;
  border: 1px solid gray;
  box-shadow: 1px 1px 1px gray;
  justify-content: center;
  align-items: center;
}